.Footer-img {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Footer-link {
  color: black;
}

.Footer-link:hover {
  color: rgb(100, 100, 100);
  transition: 0.9s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.Footer-bot {
  background-color: rgba(128, 128, 128, 0.123);
}
.Footer-bot:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0.438),
    rgba(218, 69, 198, 0.438)
  );
}
